
<div class="modal issue-delete small">
  <h1>{{ mml('modal-issue-delete-title') }}</h1>
  <h2>{{ mml('modal-issue-delete-text') }}</h2>
  <form name="myForm" ng-submit="submit()">
    <div class="controls">
      <label> </label>
      <button class="button-alt" type="submit" value="OK"><i class="fal fa-trash-alt"></i>OK</button>
      <button class="button-grey" type="button" ng-click="cancel()"> <i class="fal fa-times"></i>Cancel</button>
    </div>
  </form>
  <!--a.close-reveal-modal(ng-click='cancel()') &times;-->
</div>