
<div class="forgot-dir">
  <h1>Forgot password</h1>
  <div class="forgot-request" ng-if="!token">
    <form name="$parent.myForm" novalidate="novalidate" autocomplete="off" ng-submit="submitEmail()" ignore="ignore" ng-hide="codeRequested">
      <div class="form-item c-input email required  " ng-class="{warning: submitted #{'&amp;&amp;'} #{formName}.#{args.name}.$invalid}">
        <label class="label">{{ mml('forgotUser-email-label') }}</label>
        <input type="text" name="email" ng-model="forgotUser.item.email" placeholder="{{ mml('#{args.prefix}-#{args.name}-placeholder') }}" title="{{ mml('#{args.prefix}-#{args.name}-label') }}" ng-disabled="disabled" required="required" email="email"/>
        <p class="error" ng-show="submitted &amp;&amp; $parent.myForm.email.$error.required">{{ mml('forgotUser-email-error-required') }}    </p>
        <p class="error" ng-show="submitted &amp;&amp; $parent.myForm.email.$error.email">{{ mml('forgotUser-email-error-email') }}    </p>
      </div>
      <div class="controls">
        <input class="btn" type="submit" value="{{m(&quot;newUser-button-next&quot;)}}"/>
      </div>
    </form>
    <div class="code-requested" ng-show="codeRequested">{{ mml('forgot-codeRequested-message') }}</div>
  </div>
  <div class="forgot-update" ng-if="token">
    <form name="$parent.myForm" novalidate="novalidate" autocomplete="off" ng-submit="submitPass()" ignore="ignore">
      <div class="form-item c-input password required no-label " ng-class="{warning: submitted #{'&amp;&amp;'} #{formName}.#{args.name}.$invalid}">
        <input type="password" name="password" ng-model="newUser.local.password" placeholder="{{ mml('#{args.prefix}-#{args.name}-placeholder') }}" title="{{ mml('#{args.prefix}-#{args.name}-label') }}" ng-disabled="disabled" required="required" strength="strength" password="password"/>
        <div class="tooltip" ng-hide="myForm.password.$valid">
          <div class="invalid" ng-show="myForm.password.$invalid">
            <p>{{mml('newUser-password-popup-pre')}}</p>
            <ul>
              <li ng-show="myForm.password.$error.length">{{mml('newUser-password-error-length')}}</li>
              <li ng-show="myForm.password.$error.number">{{mml('newUser-password-error-number')}}</li>
              <li ng-show="myForm.password.$error.lower">{{mml('newUser-password-error-lower')}}</li>
              <li ng-show="myForm.password.$error.upper">{{mml('newUser-password-error-upper')}}</li>
              <li ng-show="myForm.password.$error.special">{{mml('newUser-password-error-special')}}</li>
            </ul>
            <p>{{mml('newUser-password-popup-post')}}</p>
          </div>
        </div><i class="valid" ng-show="$parent.myForm.password.$valid">✔</i>
        <p class="error" ng-show="submitted &amp;&amp; $parent.myForm.password.$error.required">{{ mml('newUser-password-error-required') }}    </p>
        <p class="error" ng-show="submitted &amp;&amp; $parent.myForm.password.$error.strength">{{ mml('newUser-password-error-strength') }}    </p>
      </div>
      <div class="form-item c-input repeatPassword required no-label " ng-class="{warning: submitted #{'&amp;&amp;'} #{formName}.#{args.name}.$invalid}">
        <input type="password" name="repeatPassword" ng-model="$parent.repeatPassword" placeholder="{{ mml('#{args.prefix}-#{args.name}-placeholder') }}" title="{{ mml('#{args.prefix}-#{args.name}-label') }}" ng-disabled="disabled" required="required"/><i class="valid" ng-show="$parent.repeatPassword &amp;&amp; $parent.repeatPassword===newUser.local.password">✔</i>
        <p class="error" ng-show="submitted &amp;&amp; $parent.repeatPassword &amp;&amp; $parent.repeatPassword !== newUser.local.password">{{mml('newUser-repeatPassword-error-mismatch')}}</p>
        <p class="error" ng-show="submitted &amp;&amp; $parent.myForm.repeatPassword.$error.required">{{ mml('newUser-repeatPassword-error-required') }}    </p>
      </div>
      <div class="controls">
        <input class="btn" type="submit" value="{{m(&quot;newUser-button-submit&quot;)}}"/>
      </div>
    </form>
  </div>
</div>