
<div class="forgot-dir">
  <h1>Forgot password</h1>
  <div ng-if="!token" class="forgot-request">
    <form name="$parent.myForm" novalidate="novalidate" autocomplete="off" ng-submit="submitEmail()" ignore="ignore" ng-hide="codeRequested">
      <div ng-class="{warning: submitted &amp;&amp; $parent.myForm.email.$invalid}" class="form-item c-input email required  ">
        <label class="label">{{ m('forgotUser-email-label') }}</label>
        <input type="text" name="email" ng-model="forgotUser.item.email" placeholder="{{ m('forgotUser-email-placeholder') }}" title="{{ m('forgotUser-email-label') }}" ng-disabled="disabled" required="required" email="email"/>
        <p ng-show="submitted &amp;&amp; $parent.myForm.email.$error.required" class="error">{{ m('forgotUser-email-error-required') }}    </p>
        <p ng-show="submitted &amp;&amp; $parent.myForm.email.$error.email" class="error">{{ m('forgotUser-email-error-email') }}    </p>
      </div>
      <div class="controls">
        <input type="submit" value="{{m(&quot;newUser-button-next&quot;)}}" class="btn"/>
      </div>
    </form>
    <div ng-show="codeRequested" class="code-requested">{{ m('forgot-codeRequested-message') }}</div>
  </div>
  <div ng-if="token" class="forgot-update">
    <form name="$parent.myForm" novalidate="novalidate" autocomplete="off" ng-submit="submitPass()" ignore="ignore">
      <div ng-class="{warning: submitted &amp;&amp; $parent.myForm.password.$invalid}" class="form-item c-input password required no-label ">
        <input type="password" name="password" ng-model="newUser.local.password" placeholder="{{ m('newUser-password-placeholder') }}" title="{{ m('newUser-password-label') }}" ng-disabled="disabled" required="required" strength="strength" password="password"/>
        <div ng-hide="myForm.password.$valid" class="tooltip">
          <div ng-show="myForm.password.$invalid" class="invalid">
            <p>{{m('newUser-password-popup-pre')}}</p>
            <ul>
              <li ng-show="myForm.password.$error.length">{{m('newUser-password-error-length')}}</li>
              <li ng-show="myForm.password.$error.number">{{m('newUser-password-error-number')}}</li>
              <li ng-show="myForm.password.$error.lower">{{m('newUser-password-error-lower')}}</li>
              <li ng-show="myForm.password.$error.upper">{{m('newUser-password-error-upper')}}</li>
              <li ng-show="myForm.password.$error.special">{{m('newUser-password-error-special')}}</li>
            </ul>
            <p>{{m('newUser-password-popup-post')}}</p>
          </div>
        </div><i ng-show="$parent.myForm.password.$valid" class="valid">✔</i>
        <p ng-show="submitted &amp;&amp; $parent.myForm.password.$error.required" class="error">{{ m('newUser-password-error-required') }}    </p>
        <p ng-show="submitted &amp;&amp; $parent.myForm.password.$error.strength" class="error">{{ m('newUser-password-error-strength') }}    </p>
      </div>
      <div ng-class="{warning: submitted &amp;&amp; $parent.myForm.repeatPassword.$invalid}" class="form-item c-input repeatPassword required no-label ">
        <input type="password" name="repeatPassword" ng-model="$parent.repeatPassword" placeholder="{{ m('newUser-repeatPassword-placeholder') }}" title="{{ m('newUser-repeatPassword-label') }}" ng-disabled="disabled" required="required"/><i ng-show="$parent.repeatPassword &amp;&amp; $parent.repeatPassword===newUser.local.password" class="valid">✔</i>
        <p ng-show="submitted &amp;&amp; $parent.repeatPassword &amp;&amp; $parent.repeatPassword !== newUser.local.password" class="error">{{m('newUser-repeatPassword-error-mismatch')}}</p>
        <p ng-show="submitted &amp;&amp; $parent.myForm.repeatPassword.$error.required" class="error">{{ m('newUser-repeatPassword-error-required') }}    </p>
      </div>
      <div class="controls">
        <input type="submit" value="{{m(&quot;newUser-button-submit&quot;)}}" class="btn"/>
      </div>
    </form>
  </div>
</div>