node_modules
data
logs
env.bat
env.sh
bower.js
dedupe.js
post_compile.js
prepare.bat
prepare.js
socket-test.js
update_styles.js
src/token.js
src/public
update-messages.js
!app/
app/*
!app/public
!app/third-party
package-lock.json