
<div class="case">
  <div class="container-xl">
    <div class="row case-progressions case-row">
      <div class="col">
        <h1>Case <span class="address">- {{property.item.displayAddress}}<span class="right">{{property.item.$case.item.offer.Value | currency : "£" : 0}}</span></span></h1>
        <h2 ng-show="property.item.$case.item.override.reason===&quot;fallenThrough&quot;">Fallen through</h2>
        <div class="advance-request" ng-repeat="request in property.item.$case.item.advanceRequests | filter:{dismissed:&quot;!true&quot;,applied:&quot;!true&quot;}">
          <div class="left">Requested to be advanced to {{request.advanceTo | date:'mediumDate'}} by <img gravatar-src="request.user.local.email"/>{{request.user.displayName || request.user.local.email}}</div>
          <div class="admin-request" ng-show="auth.checkRoles([&quot;superadmin&quot;, &quot;admin&quot;])">
            <button ng-click="applyRequest(request)">Apply</button>
            <button ng-click="request.dismissed=true;property.item.$case.save()">Dismiss</button>
          </div>
        </div>
        <agency-progression ng-repeat="progression in property.item.$case.item.progressions" data="progression"></agency-progression>
        <button class="has-dropdown" ng-focus="progBtnFocussed=true" ng-blur="hideDropdown(&quot;progBtnFocussed&quot;)" ng-show="auth.checkRoles([&quot;superadmin&quot;, &quot;admin&quot;])">Add Progression</button>
        <ul class="dropdown" ng-show="progBtnFocussed">
          <li ng-repeat="progression in progressions.items"><a href="" ng-click="addProgression(progression)">{{progression.name}}, {{progression.side}}</a></li>
        </ul>
        <button ng-hide="auth.checkRoles([&quot;superadmin&quot;, &quot;admin&quot;])" ng-click="advanceProgression()">Advance all milestones</button>
        <button ng-show="auth.checkRoles([&quot;superadmin&quot;, &quot;admin&quot;])" ng-click="fallenThrough()">Fallen through</button>
      </div>
    </div>

    <div class="row docs-chain case-row">
      <!-- Docs -->
      <div class="col-sm-6">
        <h2>Documents<sup ng-show="property.item.$case.item.documents.length">{{property.item.$case.item.documents.length}}</sup></h2>
        <button class="view-documents" ng-click="showDocuments = !showDocuments">{{showDocuments?'Hide':'View'}} Documents</button>
        <div class="documents" ng-show="showDocuments">
          <div class="drop-box" ngf-drop="uploadFiles($files)" ngf-drag-over-class="'dragover'" ngf-multiple="true">
            <div ng-hide="documentUploading">
              <h3>Drop files here to upload</h3>
              <button class="file-upload" type="file" ngf-select="uploadFiles($file, $invalidFiles)">Or click here to choose</button>
            </div>
            <div ng-show="documentUploading" class="uploading">
              <h3>Uploading</h3>
              <div class="progressBar">
                <div class="bar" style="width: {{uploadProgress}}%"></div>
              </div>
            </div>
          </div>
          <div class="document-list" ng-show="property.item.$case.item.documents.length">
            
            <div class="document row" ng-repeat="document in property.item.$case.item.documents">
              <div class="col-2">
                <a class="document-link" ng-href="{{makeDownloadUrl('agency',document)}}" target="_self">
                  <img ng-src="{{makeDownloadUrl('agency',document)}}" ng-if="document.basetype===&quot;image&quot;"/>
                  <div class="document-icon {{document.basetype}}" ng-hide="document.basetype===&quot;image&quot;">
                    <i class="fa-duotone fa-file-lines"></i>
                  </div>
                </a>
              </div>
              <div class="col-10">
                <div class="filename"> 
                  <label>Name: </label><span ng-show="!document.editing">&nbsp;{{document.name || document.originalFilename}}</span>
                  <input type="text" ng-model="document.name" ng-show="document.editing" placeholder="Name"/>
                </div>
                <div class="by"> 
                  <label>Created by:</label> {{document.user.local.email}}
                </div>
                <div class="on"> 
                  <label>Created on:</label> {{document.date | date:'mediumDate'}}, {{document.date | date:'shortTime'}}
                </div>
                <div class="controls" ng-show="auth.checkRoles([&quot;superadmin&quot;, &quot;admin&quot;])">
                  <a class="edit small button" href="" ng-click="document.editing=!document.editing" ng-show="!document.editing">Edit</a>
                  <a class="save small button button-alt" href="" ng-click="saveDocument(document)" ng-show="document.editing">Save</a>
                  <a class="delete small button button-grey" href="" ng-click="deleteDocument(document)">Delete</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Chain -->
      <div class="col-sm-6">
        <h2>Chain</h2>
        <button class="view-chain" ng-click="showChain = !showChain">{{showChain?'Hide':'View'}} Chain</button>
        
        <div class="chain" ng-show="showChain">
          <button class="add-chain" ng-click="addChain(property.item.$case.item.chainBuyer, &quot;buyer&quot;)">Add to chain</button>
          <div class="connector"></div>
          
          <chain-item ng-repeat="item in property.item.$case.item.chainBuyer | orderBy:&quot;-&quot;"></chain-item>
          
          <div class="current-property"> 
            <div class="image"><img ng-src="{{property.item.Images[0].Url}}"/></div>
            <div class="details">
              <div class="address">{{property.item.displayAddress}}</div>
              <div class="price">{{property.item.$case.item.offer.Value | currency: '£': 0}}</div>
            </div>
          </div>
          
          <div class="connector"></div>
          
          <chain-item ng-repeat="item in property.item.$case.item.chainSeller"></chain-item>
          
          <button class="add-chain" ng-click="addChain(property.item.$case.item.chainSeller, &quot;seller&quot;)">Add to chain</button>
        </div>
      </div>
    </div>



    <div class="accordian" ng-show="propertyadmin.item.RoleId">
      <div ng-click="showITM = !showITM; showSSTC = showPR = showFT = showEC = showW = false"><h4>Instruction To Market</h4></div>
      <div class="instruction-to-market" ng-show="showITM">
        <div class="row">
          <div class="col-md-3">
            <label>Update client details</label>
            <select ng-model="propertyadmin.item.instructionToMarket.updateClientDetails">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>Board ordered date</label>
            <select ng-model="propertyadmin.item.instructionToMarket.boardOrderedDate" ng-if="!propertyadmin.item.instructionToMarket.boardOrderedDate">
              <option>No board</option>
              <option ng-repeat="date in boardDates" ng-value="date">{{date | date:'dd/MM/yyyy'}}</option>
            </select>
            <input type="text" disabled="true" value="{{propertyadmin.item.instructionToMarket.boardOrderedDate | date:'dd/MM/yyyy'}}" ng-if="propertyadmin.item.instructionToMarket.boardOrderedDate" />
          </div>
          <div class="col-md-3">
            <label>Windows card</label>
            <select ng-model="propertyadmin.item.instructionToMarket.windowsCard">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>Epc ordered date</label>
            <select ng-model="propertyadmin.item.instructionToMarket.epcOrderedDate" ng-if="!propertyadmin.item.instructionToMarket.epcOrderedDate">
              <option ng-repeat="option in epcOptions" ng-value="option">{{option==='No'?option:(option | date:'dd/MM/yyyy')}}</option>
            </select>
            <input type="text" disabled="true" value="{{propertyadmin.item.instructionToMarket.epcOrderedDate | date:'dd/MM/yyyy'}}" ng-if="propertyadmin.item.instructionToMarket.epcOrderedDate" />
          </div>
          <div class="col-md-3">
            <label>Staff intro</label>
            <select ng-model="propertyadmin.item.instructionToMarket.staffIntro">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>Misdescriptions Received</label>
            <select ng-model="propertyadmin.item.instructionToMarket.misdescriptionsReceived">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>Snake</label>
            <select ng-model="propertyadmin.item.instructionToMarket.snake">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>&nbsp;</label>
            <div class="flex-right">
              <input type="button" ng-click="clearITMDetails()" value="Clear" />
              <input type="button" ng-click="saveITMDetails()" value="Save" />
            </div>
          </div>
        </div>
      </div>
      <div ng-click="showSSTC = !showSSTC; showITM = showPR = showFT = showEC = showW = false"><h4>Sold Subject To Contact</h4></div>
      <div class="sold-subject-to-contract" ng-show="showSSTC">
        <div class="row">
          <div class="col-md-3">
            <label>Chain Updated On Conveyancing</label>
            <select ng-model="propertyadmin.item.soldSubjectToContract.chainUpdated">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>Board Updated</label>
            <select ng-model="propertyadmin.item.soldSubjectToContract.boardUpdated" ng-if="!propertyadmin.item.soldSubjectToContract.boardUpdated">
              <option ng-repeat="option in ftOptions" ng-value="option">{{option==='No board'?option:(option | date:'dd/MM/yyyy')}}</option>
            </select>
            <input type="text" disabled="true" value="{{propertyadmin.item.soldSubjectToContract.boardUpdated | date:'dd/MM/yyyy'}}" ng-if="propertyadmin.item.soldSubjectToContract.boardUpdated" />
          </div>
          <div class="col-md-3">
            <label>Board Type</label>
            <select ng-model="propertyadmin.item.soldSubjectToContract.boardType">
              <option value="SOLD">Sold</option>
              <option value="SOLD_1_WEEK">Sold In One Week</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>Memo of Sale Issued</label>
            <select ng-model="propertyadmin.item.soldSubjectToContract.memoOfSale">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>Sold In Window</label>
            <select ng-model="propertyadmin.item.soldSubjectToContract.soldInWindow">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>Property File Moved</label>
            <select ng-model="propertyadmin.item.soldSubjectToContract.propertyFile">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>Whatsapp Group Created (V &amp; P)</label>
            <select ng-model="propertyadmin.item.soldSubjectToContract.whatsappGroup">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>&nbsp;</label>
            <div class="flex-right">
              <input type="button" ng-click="clearSSTCDetails()" value="Clear" />
              <input type="button" ng-click="saveSSTCDetails()" value="Save" />
            </div>
          </div>
        </div>
      </div>
      <div ng-click="showPR = !showPR; showITM = showSSTC = showFT = showEC = showW = false"><h4>Price Reduction</h4></div>
      <div class="price-reduction" ng-show="showPR">
        <div class="row">
          <div class="col-md-3">
            <label>New Price</label>
            <input type="text" ng-model="propertyadmin.item.priceReduction.newPrice" />
          </div>
          <div class="col-md-3">
            <label>Date Of Reduction</label>
            <input type="date" ng-model="propertyadmin.item.priceReduction.dateOfReduction" />
          </div>
          <div class="col-md-3">
            <label>New Window Card</label>
            <select ng-model="propertyadmin.item.priceReduction.newWindowCard">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>Reduction Letter Sent</label>
            <select ng-model="propertyadmin.item.priceReduction.reductionLetterSent">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>Dezrez Updated</label>
            <select ng-model="propertyadmin.item.priceReduction.dezrezUpdated">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>Re-Matched</label>
            <select ng-model="propertyadmin.item.priceReduction.reMatched">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <div class="col-md-3"></div>
          <div class="col-md-3">
            <label>&nbsp;</label>
            <div class="flex-right">
              <input type="button" ng-click="clearPRDetails()" value="Clear" />
              <input type="button" ng-click="savePRDetails()" value="Save" />
            </div>
          </div>
        </div>
      </div>
      <div ng-click="showFT = !showFT; showITM = showSSTC = showPR = showEC = showW = false"><h4>Fallen Through</h4></div>
      <div class="fallen-through" ng-show="showFT">
        <div class="row">
          <div class="col-md-3">
            <label>Date of Fall Through</label>
            <input type="date" ng-model="propertyadmin.item.fallenThrough.date" />
          </div>
          <div class="col-md-3">
            <label>Updated On Conveyancing</label>
            <select ng-model="propertyadmin.item.fallenThrough.updatedOnConveyancing">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>Board Updated</label>
            <select ng-model="propertyadmin.item.fallenThrough.boardUpdated" ng-if="!propertyadmin.item.fallenThrough.boardUpdated">
              <option ng-repeat="option in ftOptions" ng-value="option">{{option==='No board'?option:(option | date:'dd/MM/yyyy')}}</option>
            </select>
            <input type="text" disabled="true" value="{{propertyadmin.item.fallenThrough.boardUpdated | date:'dd/MM/yyyy'}}" ng-if="propertyadmin.item.fallenThrough.boardUpdated" />
          </div>
          <div class="col-md-3">
            <label>Property Back In Window</label>
            <select ng-model="propertyadmin.item.fallenThrough.backInWindow">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>Dezrez Updated</label>
            <select ng-model="propertyadmin.item.fallenThrough.dezrezUpdated">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>Re-Matched</label>
            <select ng-model="propertyadmin.item.fallenThrough.reMatched">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>Property File Moved</label>
            <select ng-model="propertyadmin.item.fallenThrough.fileMoved">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>&nbsp;</label>
            <div class="flex-right">
              <input type="button" ng-click="clearFTDetails()" value="Clear" />
              <input type="button" ng-click="saveFTDetails()" value="Save" />
            </div>
          </div>
        </div>
      </div>
      <div ng-click="showEC = !showEC; showITM = showSSTC = showPR = showFT = showW = false"><h4>Exchanged &amp; Completed</h4></div>
      <div class="exchanged-and-completed" ng-show="showEC">
        <div class="row">
          <div class="col-md-3">
            <label>Date of Exchange</label>
            <input type="date" ng-model="propertyadmin.item.exchangedCompleted.dateExchange" />
          </div>
          <div class="col-md-3">
            <label>Keys Released</label>
            <select ng-model="propertyadmin.item.exchangedCompleted.keysReleased">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>Invoice Number</label>
            <input type="text" ng-model="propertyadmin.item.exchangedCompleted.invoiceNumber" />
          </div>
          <div class="col-md-3">
            <label>Board Updated</label>
            <select ng-model="propertyadmin.item.exchangedCompleted.boardUpdated" ng-if="!propertyadmin.item.exchangedCompleted.boardUpdated">
              <option ng-repeat="option in ftOptions" ng-value="option">{{option==='No board'?option:(option | date:'dd/MM/yyyy')}}</option>
            </select>
            <input type="text" disabled="true" value="{{propertyadmin.item.exchangedCompleted.boardUpdated | date:'dd/MM/yyyy'}}" ng-if="propertyadmin.item.exchangedCompleted.boardUpdated" />
          </div>
          <div class="col-md-3">
            <label>Date of Completion</label>
            <input type="date" ng-model="propertyadmin.item.exchangedCompleted.dateCompletion" />
          </div>
          <div class="col-md-3">
            <label>Key Number</label>
            <input type="text" ng-model="propertyadmin.item.exchangedCompleted.keyNumber" />
          </div>
          <div class="col-md-3">
            <label>Completed on Dezrez</label>
            <select ng-model="propertyadmin.item.exchangedCompleted.dezrezCompleted">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>&nbsp;</label>
            <div class="flex-right">
              <input type="button" ng-click="clearECDetails()" value="Clear" />
              <input type="button" ng-click="saveECDetails()" value="Save" />
              <input type="button" ng-click="saveECDetails() || downloadPdf()" value="Download" />
            </div>
          </div>
        </div>
      </div>
      <div ng-click="showW = !showW; showITM = showSSTC = showPR = showFT = showEC = false"><h4>Withdrawn</h4></div>
      <div class="withdrawn" ng-show="showW">
        <div class="row">
          <div class="col-md-3">
            <label>Date to Withdraw</label>
            <input type="date" ng-model="propertyadmin.item.withdrawn.dateWithdrawn" />
          </div>
          <div class="col-md-3">
            <label>Board Removed</label>
            <select ng-model="propertyadmin.item.withdrawn.boardRemoved" ng-if="!propertyadmin.item.withdrawn.boardRemoved">
              <option>No board</option>
              <option ng-repeat="date in boardDates" ng-value="date">{{date | date:'dd/MM/yyyy'}}</option>
            </select>
            <input type="text" disabled="true" value="{{propertyadmin.item.withdrawn.boardRemoved | date:'dd/MM/yyyy'}}" ng-if="propertyadmin.item.withdrawn.boardRemoved" />
          </div>
          <div class="col-md-3">
            <label>Email to Staff</label>
            <select ng-model="propertyadmin.item.withdrawn.emailToStaff">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>Window Card Removed</label>
            <select ng-model="propertyadmin.item.withdrawn.windowCardRemoved">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>Letter Confirming Withdrawal</label>
            <select ng-model="propertyadmin.item.withdrawn.letterConfirming">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>Dezrez Updated</label>
            <select ng-model="propertyadmin.item.withdrawn.dezrezUpdated">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>Property Info File Moved</label>
            <select ng-model="propertyadmin.item.withdrawn.infoFileMoved">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>&nbsp;</label>
            <div class="flex-right">
              <input type="button" ng-click="clearWDetails()" value="Clear" />
              <input type="button" ng-click="saveWDetails()" value="Save" />
              <input type="button" ng-click="saveWDetails() || downloadPdf()" value="Download" />
            </div>
          </div>
        </div>
      </div>
    </div>


    
    <div class="contacts">
      <div class="row case-row" ng-hide="property.item.$case.item.vendorsSolicitor.name && property.item.$case.item.purchasersSolicitor.name">
        <button ng-click="refreshDetails()">Refresh Details</button>
      </div>
      <div class="row case-row">
        <div class="col-md-3 col-sm-6">
          <contact-details title="Vendor's Solicitor"></contact-details>
        </div>
        <div class="col-md-3 col-sm-6">
          <contact-details title="Vendor's Contact"></contact-details>
        </div>
        <div class="col-md-3 col-sm-6">
          <contact-details title="Purchaser's Solicitor"></contact-details>
        </div>
        <div class="col-md-3 col-sm-6">
          <contact-details title="Purchaser's Contact"></contact-details>
        </div>
      </div>
    </div>

    <div class="case-notes">
      <h2 class="orange">Case Notes</h2>
      <div class="case-note" ng-repeat="note in notesData = ( getNotes() | orderBy:&quot;-date&quot; ) | limitTo:notesLimit:notesLimit*(notesPage-1)">
        <div class="date">{{note.date | date:'mediumDate'}}, {{note.date | date:'shortTime'}} | <img gravatar-src="note.user.local.email"/><span>{{note.user.displayName || note.user.local.email}}</span><a class="delete" href="" ng-click="deleteNote(note)" ng-show="auth.checkRoles([&quot;admin&quot;, &quot;superadmin&quot;]) &amp;&amp; !note.advanceTo">Delete</a><a class="edit" href="" ng-click="editNote(note)" ng-show="auth.checkRoles([&quot;admin&quot;,&quot;superadmin&quot;]) &amp;&amp; !note.advanceTo">Edit</a></div>
        <div class="note"> 
          <div class="details"><span ng-show="note.side">- {{note.side}}</span>
            <div class="note-body" ng-bind-html="note.text | markdown:true"></div>
          </div>
        </div>
      </div>
      <pagination class="pagination-sm pagination" total="notesData.length" ng-model="notesPage" page-size="notesLimit"></pagination>
      <div class="add-note">
        <code-mirror ng-model="note.text" options="{mode:markdown, lineWrapping:true}"></code-mirror>
        <button ng-click="addNote()">{{note.date?'Update':'Add'}} Note</button>
      </div>
    </div>
  </div>
</div>