
<div class="modal issue-book small">
  <h1>{{ mml('modal-issue-book-title') }}</h1>
  <form name="forms.myForm" novalidate="novalidate" autocomplete="off" ng-submit="save('forms.myForm')">
    <div ng-class="{warning: submitted &amp;&amp; forms.myForm.jobnumber.$invalid}" class="form-item c-input jobnumber required  ">
      <label class="label">{{ mml('forms.myForm-jobnumber-label') }}</label>
      <input type="text" name="jobnumber" ng-model="forms.myForm.item.jobnumber" placeholder="{{ mml('forms.myForm-jobnumber-placeholder') }}" title="{{ mml('forms.myForm-jobnumber-label') }}" ng-disabled="disabled" required="required"/>
      <p ng-show="submitted &amp;&amp; forms.myForm.jobnumber.$error.required" class="error">{{ mml('forms.myForm-jobnumber-error-required') }}    </p>
    </div>
    <div class="controls">
      <label> </label>
      <button type="submit" value="Book" class="button-green"><i class="fal fa-ballot-check"></i>Book</button>
      <button type="button" ng-click="cancel()" class="button-grey"> <i class="fal fa-times"></i>Cancel</button>
    </div>
  </form>
</div>