
<div class="works-route route"> 
  <div class="space-between">
    <div class="left">
      <h1>{{ m('works-heading') }}</h1>
    </div>
    <div class="right">
      <div class="search">
        <input type="text" ng-model="mysearch.$like" placeholder="Search Cases" ng-change="page=1"/>
      </div>
      <div class="showing">Showing {{issues.items.length}} of {{issues.total}} lead{{issues.total!==1?'s':''}}</div>
    </div>
  </div>
  <table ng-show="issues.items.length &gt; 0" class="issue-table">
    <thead>
      <tr>
        <th width="15%" ng-click="sort.set(&quot;date&quot;)" ng-class="sort.class(&quot;date&quot;)">{{ m('works-heading-date') }}</th>
        <th width="25%" ng-click="sort.set(&quot;address&quot;)" ng-class="sort.class(&quot;address&quot;)">{{ m('works-heading-address') }}</th>
        <th width="25%" ng-click="sort.set(&quot;tenant&quot;)" ng-class="sort.class(&quot;tenant&quot;)">{{ m('works-heading-tenant') }}</th>
        <th width="20%" ng-click="sort.set(&quot;contractorName&quot;)" ng-class="sort.class(&quot;contractorName&quot;)">{{ m('works-heading-contractor') }}</th>
        <th width="10%" ng-click="sort.set(&quot;status&quot;)" ng-class="sort.class(&quot;status&quot;)">{{ m('works-heading-status') }}</th>
        <th width="5%">{{ m('works-heading-options') }}</th>
      </tr>
    </thead>
    <tbody ng-repeat="issue in issues.items">
      <tr>
        <td class="date">{{ issue.date | date:medium }}</td>
        <td class="address">{{ issue.address }}<i ng-show="issue.media.length" class="fad fa-camera-retro"></i></td>
        <td class="tenant">{{ issue.tenant }}
          <div ng-class="{newmessage:issue.newMessages &gt; 0}" class="messages">{{issue.newMessages}}</div>
        </td>
        <td class="contractor">{{ issue.contractorName }}</td>
        <td ng-class="issue.status" class="status">
          <div class="booked"> 
            <div class="fad fa-file-medical"></div>
          </div>
          <div class="completed">
            <div class="fad fa-file-check"></div>
          </div>
          <div class="invoiced">
            <div class="fad fa-thumbs-up"></div>
          </div>
        </td>
        <td class="options">
          <button ui-sref="maintenance_leads_issue({_id:issue._id})" class="button-grey"> 
            <div class="fal fa-eye"></div>View
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div ng-show="!issues.items.length" class="empty-table">{{ m('works-empty-table') }}</div>
  <pagination ng-model="issues.args.page" total="issues.total" page-size="issues.args.pageSize"></pagination>
</div>