
<div class="agreed-route">
  <div class="row">
    <h1>Monthly Sales Agreed</h1>
    <div class="search">
      <input type="text" ng-model="search" placeholder="Search..."/>
    </div>
  </div>
  <div class="row years"><a href="" ng-click="setDateRange(year)" ng-repeat="year in years" ng-class="{selected:year===currentYear}">{{year}}</a></div>
  <div class="months">
    <div class="month" ng-repeat="month in months | filter:search | orderBy:&quot;date&quot;" ng-class="{disabled:month.date &gt; now}">
      <div class="inner">
        <div class="row">
          <div class="month-name">{{month.month}} </div>
          <div class="target" ng-click="auth.checkRoles(['admin', 'superadmin']) &amp;&amp; (month.editing = !month.editing)" title="{{auth.checkRoles(['admin', 'superadmin']) ? 'Edit target' : ''}}">
            <label>Target </label>
            <div class="editor" ng-show="month.editing">
              <input type="text" ng-model="month.target.value" ng-click="$event.stopPropagation()" ng-blur="saveTarget(month)"/>
            </div>
            <div class="default" ng-hide="month.editing">{{month.target.value}}</div>
          </div>
          <div class="actual">{{month.properties.length}}</div>
        </div>
        <hr/>
        <div class="row"> <a class="button" ng-click="open(month)"> <span ng-hide="month.open">View List</span><span ng-show="month.open">Close List</span></a>
          <div class="commission" ng-bind-html="month.commission | currency:'£' | currencyFormat"></div>
        </div>
        <div class="properties" ng-show="month.open">
          <hr/>
          <div class="row">
            <h5>Address</h5>
            <h5>Date</h5>
          </div>
          <hr/>
          <div class="property" ng-repeat="property in month.properties"> 
            <div class="editor" ng-show="property.$editing">
              <div class="address">
                <input type="text" ng-model="property.$override.address"/>
              </div>
              <div class="fees">
                <input type="text" ng-model="property.$override.commission"/>
              </div>
              <input class="save" type="button" ng-click="save(property)" value="Save"/>
              <input class="cancel" type="button" ng-click="cancel(property)" value="Cancel"/>
            </div>
            <div class="default" ng-class="{delisted:property.delisted}">
              <div class="controls" ng-show="auth.checkRoles(['admin', 'superadmin'])"><a class="edit" href="" ng-click="edit(property)">Edit</a><a class="delete" href="" ng-click="delete(property)">Delete</a></div>
              <div class="number">{{$index + 1}}</div>
              <div class="address">{{property.address}}</div>
              <div class="fees" ng-bind-html="property.commission | currency:'£' | currencyFormat"></div>
              <div class="date">{{property.date | date:'mediumDate'}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>