.agreed-route, 
.solicitors-route, 
.contractors-route,
.landlords-route
  .years
    margin-bottom 20px
    a
      color vs-grey
      border 1px solid vs-lightgrey
      border-radius 3px
      margin-right 0.5rem
      padding 0.5rem
      &.selected
        color vs-orange
        border-color vs-orange
  .months, .solicitors, .contractors, .landlords
    display flex
    flex-wrap wrap
    width 100%
    .month, .solicitor, .contractor, .landlord
      position relative
      &.disabled
        opacity 0.3
      .inner
        padding 20px
        border-radius 3px
        border 1px solid vs-lightsilver
        background white
        position relative
        .month-name, .solicitors-name, .name
          min-width 10rem
          color vs-orange
          font-size 2rem
        .solicitors-name, .name
          color vs-grey
          height 46px
        .target, .cases
          display flex
          align-items baseline
          cursor pointer
          label
            margin-right 1.02rem
            color vs-orange
            cursor pointer
          .default
            font-weight bold
        .actual
        .commission
          font-size 3rem
          font-weight 600
          line-height 1
        .actual
          position absolute
          top 20px
          right 20px
      .properties
        padding 20px
        border-radius 3px
        border 1px solid vs-white
        background white
        position relative
        h5
          margin-bottom 10px
          color vs-orange
        .property
          border-bottom 1px solid vs-lightsilver
          .editor, .default
            font-size 1.1rem
            position relative
            .p, .v 
              color vs-orange
              font-weight 900
              position absolute
              right 60px
              bottom 0px
            &.delisted
              .address, .fees
                font-weight 900
              .number:after
                content '✔'
                position absolute
                top 0.4rem
                color vs-green
            .controls
              a
                padding 0 0 0 5px
            &:hover
              color vs-orange
            .number
              position relative
            .date
              white-space nowrap
          .editor
            margin-bottom 10px
.contractors-route,
.landlords-route
  .no-issues
    text-align right
    .number
      color: vs-orange
      font-size 3rem
      line-height 3.2rem
