.available
  .controls
    .order-item
      display inline-block
      position relative
      color vs-orange
      margin 0px 15px 5px 0px
      &.selected
        font-weight 600
    .showing
        text-align right
  // Table
  table.table
    margin-bottom 0px
    thead th
      text-align left
    tbody
      border-top 5px solid vs-lightsilver
      border-bottom 5px solid vs-lightsilver
    tr 
      td
        vertical-align top
        img
          border-radius 3px
        &.address
          font-size 1.6rem
          img
            margin-right 15px
        p
          margin-bottom 3px
          &.title
            font-weight 600
            font-size 1.4rem
      &.meta
        td
          background vs-white
          border-bottom 1px solid vs-grey
          padding 10px 15px
          .rental-price
            color vs-orange
            font-size 1.8rem
            font-weight 600