.cases
  // Controls
  .controls
    .order-item, .filter-item
      display inline-block
      position relative
      color vs-orange
      margin 0px 15px 5px 0px
      &.icon-green, &.icon-red, &.icon-orange
        padding-left 2rem
        &:before
          content ''
          position absolute
          top 0.5rem
          left 0.5rem
          width 1rem
          height 1rem
          background vs-green
          border-radius 50%
      &.icon-red:before
        background vs-red
      &.icon-orange:before
        background vs-amber
      &.selected
        font-weight 600
      
  // Table
  table.table
    margin-bottom 0px
    tbody
      border-top 5px solid vs-lightsilver
      border-bottom 5px solid vs-lightsilver
    tr 
      td
        vertical-align top
        p
          margin-bottom 0px
        .address
          color vs-orange
          font-weight bold
        .dates
          font-size 1.1rem
          .date
            margin-top 0.5rem
        .milestone
          transform translateY(1rem)
        &.offer
          font-weight bold
          font-size 1.8rem
          p
            font-weight 300
            font-size 1.4rem
            margin-top 0
        &.has-request
            font-weight 600
      &.meta
        td
          background vs-white
          border-bottom 1px solid vs-grey
          padding 10px 15px
  .milestone
    text-align left
    align-items flex-start
    margin-top -10px
    .icon
      height 30px
      width 30px
      border none
      &:after
        height 30px
        width 30px
  .pagination-holder
    display flex
    justify-content center
    .pagination
      a
        color vs-orange
      a:hover
        color vs-orange
      li.active
        a
          background vs-orange
          border-color vs-orange
          color #fff
  .pagination
    justify-content center
    text-align center
    .page
      padding 5px 10px 3px 10px
      border 1px solid vs-lightgrey
      border-left none
      transition all 0.4s ease-in-out
      &:first-of-type 
        border-left: 1px solid vs-lightgrey
        border-bottom-left-radius 5px
        border-top-left-radius 5px
      &:last-of-type 
        border-bottom-right-radius 5px
        border-top-right-radius 5px
      &.last, &.first 
        padding 5px 20px 3px 20px
      &.selected, &:hover
        background vs-orange
        color white
.mobile
  .cases
    .controls
      .order-item, .filter-item
        margin-left 1rem
    .mobile-table
      .address-row
        flex 1