.dashboard,
.lettings-dashboard-route,
.leads-dashboard-route
  padding-bottom 30px
  .currency
    width 8rem
    display inline-block
    text-align right
  .overview, .income, .selling, .letting, .valuation 
    width 100%
    border-spacing 0
    border-radius 3px
    margin-bottom 30px
    position relative
    box-sizing border-box
    overflow hidden
    .tr, tr
      &.head-two, &.total
        .td, td
          font-weight 600
          background vs-tablegrey
      .td, td
        text-align center
  .summary
    width: 100%
    margin-bottom 30px
    th
      vertical-align bottom
      font-size 1.2rem
      font-weight 600
      line-height 1rem
      padding 10px
      height 220px
      white-space nowrap
      &:last-of-type
        width 70px
    tr td
      border 1px solid vs-lightgrey
      vertical-align middle
      position relative
      padding 10px
    p.service-level
      position absolute
      top 3px
      right 3px
      color vs-orange
      font-weight 900
    a.sort
      color vs-orange
      display block
      &.rotate
        transform rotate(290deg)
        width 20px
    .rotate
      transform rotate(290deg)
      width 20px
      font-weight 600
    svg.fa-times
      background-color vs-red
      color white
      line-height 1
      padding 7px 10px
      border-radius 5px
    svg.fa-check
      background-color vs-green
      color white
      line-height 1
      padding 7px
      border-radius 50px
        
.maintenance-leads-dashboard
  .boxes
    .box
      border-radius 2px
      margin-bottom 2rem
      background white
      .title
        padding 15px
        background vs-grey
        font-weight bold
        color: white
        display flex
        justify-content space-between
        align-items center
        border-bottom 1px solid vs-lightsilver
        .box-number
          color vs-orange
          background white
          font-size 3rem
          display flex
          justify-content center
          align-items center
          width 50px
          height 50px
          padding 10px
          border-radius 50%
      .issue
        display flex
        cursor pointer
        padding 10px
        position relative
        border-top 2px solid vs-lightsilver
        border-bottom 2px solid vs-lightsilver
        border-radius 2px
        .address
          font-weight bold
          margin-bottom .2rem
        .issue-title
          font-size 1.4rem
        &:hover
          .address
            color vs-orange
        svg 
          font-size 1.6rem
          margin-right 10px
        .details
          flex 1
        .status
          display none
          div
            opacity .1
        &.booked .booked
          opacity 1
        &.completed .completed
          opacity 1
        &.invoiced .invoiced
          opacity 1
        .messages 
          display none
          &.newmessage
            display flex
            justify-content center
            align-items center
            width 20px
            height 20px
            border-radius 50%
            position absolute
            bottom 10px
            right 10px
            background vs-orange
            font-weight 900
            color white
      &:last-child .status,
      &:nth-child(3) .status
        display flex

.maintenance-dashboard-route
  display flex
  .toolbar
    background vs-grey
    color white
    display flex
    flex-direction column
    width 300px
    min-width 300px
    max-width 300px
    flex-wrap wrap
    padding-bottom .5rem
    .dates
      .date-swiper-holder
        position relative
        display block
        .day-names
          color inherit
          margin-top 1.6rem
        .month
          background #394a58
        .controls
          display none
        .month-holder
          height 2rem
          position relative
        .month-name
          position absolute
          top -5px
          left 0
          width 100%
          display block
          pointer-events none
        .is-selected
          .date
            background vs-orange
    h4
      margin 20px 0 10px 0
      padding-bottom 10px
      border-bottom 1px solid rgba(50,50,50,0.5)
      font-weight 700
      font-size 1.6rem
    .today, .income, .counts, .users, .filters
      padding 0rem 1rem .5rem 1rem
      .mobile
        display none
    .today
      padding-top 1rem
      color vs-grey
      background vs-orange
      box-sizing border-box
    .income-item, .counts-item
      display flex
      justify-content space-between
      margin .5rem 0
      .total
        padding 4px 8px
        margin-right -8px
        border-radius 10px
        background #035c03
        &.loss
          background red
        
    .user-select
      display flex
      flex-direction column
      background vs-grey
      //height 40px
      label 
        padding 10px
      .select2-container
        border none
        .select2-arrow
          display none
        .select2-choice
          background none
          background-image none
          border none
          box-shadow none
          padding 0.5rem
          color white
        .select2-chosen
          padding 0 0 0 0.5rem
    .filters
      .filter
        width 100px
        height 30px
        background #333
        margin 10px 0 0 0
        border-radius 50px
        position relative
        span
          position absolute
          left 110px
          top 7px
        &:before
          content ''
          position absolute
          top 15px
          left 14px
          height 2px
          width 70px
          background #111
        label
          display block
          width 18px
          height 18px
          border-radius 50%
          transition: all .5s ease
          cursor pointer
          position absolute
          top 6px
          z-index 1
          left 12px
          background #ddd
      input[type=checkbox]
        vertical-align middle
        visibility hidden
        &:checked + label
          left 70px
          background #26ca28
      #filterConfirmed span
        color vs-green
      #filterQuote span
        color vs-orange
    .users
      .user
        padding-bottom 5px
        img
          vertical-align middle
          border-radius 50%
          margin-right 5px
.select2-highlighted
  background vs-grey!important
.select2-drop
  li
    text-indent 0
    padding 3px
    &:before
      height 0
@media screen and (max-width:819px)
  .dashboard-state
    .holder
      &:before
        display none
  .dashboard-route
    flex-direction column
    .toolbar
      min-width 100%
      max-width 100%
      flex-direction row
      flex-wrap wrap
      padding-bottom 0
      .dates, .users
        display none
      .today, .user-select
        width 50%
      .filters, .income, .counts
        flex auto
        .desktop
          display none
        .mobile
          display block
      .filters
        width 100%
        h4 
          margin-bottom 20px
        .filter
          white-space nowrap
          width 97px
          display inline-block
          span
            left 3px
            top -18px
.select2-chosen
  img
    vertical-align middle
    border-radius 50% 