.dashboard,
.lettings-dashboard-route,
.leads-dashboard-route
  .currency
    width 8rem
    display inline-block
    text-align right
  .overview, .income, .selling, .letting, .valuation 
    width 100%
    border-spacing 0
    border-radius 3px
    margin-bottom 30px
    position relative
    box-sizing border-box
    overflow hidden
    .tr, tr
      &.head-two, &.total
        .td, td
          font-weight 600
          background vs-tablegrey
      .td, td
        text-align center
  .summary
    width: 100%
    margin-bottom 30px
    th
      vertical-align bottom
      font-size 1.2rem
      font-weight 600
      line-height 1rem
      padding 10px
      height 190px
      white-space nowrap
      &:last-of-type
        width 70px
    tr td
      border 1px solid vs-lightgrey
      vertical-align middle
      position relative
      padding 10px
    p.service-level
      position absolute
      top 3px
      right 3px
      color vs-orange
      font-weight 900
    a.sort
      color vs-orange
      display block
      &.rotate
        transform rotate(-60deg)
        width 20px
    .rotate
      transform rotate(-60deg)
      width 20px
      font-weight 600
    svg.fa-times
      background-color vs-red
      color white
      line-height 1
      padding 7px 10px
      border-radius 5px
    svg.fa-check
      background-color vs-green
      color white
      line-height 1
      padding 7px
      border-radius 50px
        
.maintenance-leads-dashboard
  .boxes
    .box
      border-radius 2px
      margin-bottom 2rem
      background white
      .title
        padding 15px
        background vs-grey
        font-weight bold
        color: white
        display flex
        justify-content space-between
        align-items center
        border-bottom 1px solid vs-lightsilver
        .box-number
          color vs-orange
          background white
          font-size 3rem
          display flex
          justify-content center
          align-items center
          width 50px
          height 50px
          padding 10px
          border-radius 50%
      .issue
        display flex
        cursor pointer
        padding 10px
        position relative
        border-top 2px solid vs-lightsilver
        border-bottom 2px solid vs-lightsilver
        border-radius 2px
        .address
          font-weight bold
          margin-bottom .2rem
        .issue-title
          font-size 1.4rem
        &:hover
          .address
            color vs-orange
        svg 
          font-size 1.6rem
          margin-right 10px
        .details
          flex 1
        .status
          display none
          div
            opacity .1
        &.booked .booked
          opacity 1
        &.completed .completed
          opacity 1
        &.invoiced .invoiced
          opacity 1
        .messages 
          display none
          &.newmessage
            display flex
            justify-content center
            align-items center
            width 1.2rem
            height 1.2rem
            border-radius 50%
            position absolute
            top -10px
            right -10px
            background vs-orange
            font-weight 900
            color white
      &:last-child .status,
      &:nth-child(3) .status
        display flex