.issues-route,
.works-route
  table.table
    margin-bottom 0px
    tbody
      border-top 5px solid vs-lightsilver
      border-bottom 5px solid vs-lightsilver
      tr td
        vertical-align middle
        &.address
          display flex
          justify-content space-between
          align-items center
          height 67px
          border none