.issues-route,
.works-route
  table.table
    margin-bottom 0px
    tbody
      border-top 5px solid vs-lightsilver
      border-bottom 5px solid vs-lightsilver
      tr td
        vertical-align middle
        &.address
          position relative
          border none
          padding-right: 100px
          svg, i
            position absolute
            top 25px
            right 10px
        &.tenant
          position relative