.leads-route
.history-route
  // Controls
  .controls
    .order-item
      display inline-block
      position relative
      color vs-orange
      margin 0px 15px 5px 0px
      padding: 0 20px 0 0
      &.sorting
        font-weight 600
  td
    &.source
      .rightmove
        background url(./public/img/rm-logo.svg) center no-repeat
        background-size 100px 30px
        width 100px
        height 30px
        display block
        margin 0 auto
      .gravity
        background url(./public/img/vitalspace-logo-leads.svg) center no-repeat
        background-size 100px 30px
        width 100px
        height 30px
        display block
        margin 0 auto
      .onthemarket
        background url(./public/img/otm-logo.png) center no-repeat
        background-size 120px 30px
        width 120px
        height 30px
        display block
        margin 0 auto
      .local.telephone
        background url(./public/img/icons/vs_icons.png) no-repeat
        background-position -256px -168px
        width 80px
        height 80px
        display block
        margin 0 auto
        zoom .4
      .local.email
        background url(./public/img/icons/vs_icons.png) no-repeat
        background-position -172px -420px
        width 80px
        height 80px
        display block
        margin 0 auto
        zoom .4
      .local.walkin
        background url(./public/img/icons/vs_icons.png) no-repeat
        background-position -256px -336px
        width 80px
        height 80px
        display block
        margin 0 auto
        zoom .4
  // Table
  table.table
    margin-bottom 0px
    tbody
      border-top 5px solid vs-lightsilver
      border-bottom 5px solid vs-lightsilver
    tr 
      td
        vertical-align middle
        &.options
          text-align center
        p
          margin-bottom 0px