.lead-route
  .source
    width 170px
    height 70px
    display block
    &.rightmove
      background url(./public/img/rm-logo.svg) center no-repeat
      background-size 170px 50px
    &.gravity
      background-size 170px 50px
    &.local.onthemarket
      background url(./public/img/otm-logo.png) center no-repeat
      background-size 180px 40px
    &.local.telephone
      background url(./public/img/icons/vs_icons.png) no-repeat
      background-position -256px -168px
      width 80px
      height 80px
      display block
      zoom .6
    &.local.email
      background url(./public/img/icons/vs_icons.png) no-repeat
      background-position -172px -420px
      width 80px
      height 80px
      display block
      zoom .6
    &.local.walkin
      background url(./public/img/icons/vs_icons.png) no-repeat
      background-position -256px -336px
      width 80px
      height 80px
      display block
      zoom .6
  .add-note
    .CodeMirror
      border 1px solid vs-lightgrey
      border-radius 5px
      background #f1f1f1
      padding-left 15px
      height 120px
      pre
        font-size 1.8rem
    button
      margin-top 15px
      background vs-orange
      color white
      border vs-orange
      &:hover
        background vs-grey