a.big-link
  color vs-grey
  background vs-white
  border 1px solid vs-lightsilver
  font-size 3rem
  line-height 4rem
  border-radius 3px
  display block
  padding 60px 30px
  box-shadow 4px 4px 4px 0 rgba(0,0,0,.05)
  transition all 0.4s linear
  height 100%
  &:hover
    background vs-brightwhite
    border 1px solid vs-orange
    box-shadow none
  svg
    display block
    font-size 6rem
    margin 0 auto 30px
@media screen and (max-width:1400px)
  a.big-link
    padding 40px 30px
@media screen and (max-width:1200px)
  a.big-link
    font-size: 2.4rem;
    line-height: 3rem;
    svg
      font-size 4rem