.property-details
  margin-bottom 1em
  p.title
    color vs-orange
  .pdf-upload
    color vs-grey
    font-size 1.2em
    margin-bottom 1em
    display block
    span
      font-size 1.6rem
      font-weight 300
    &:hover
      color vs-orange
.client-management-details .property-item.property-details 
  align-items start
.client-management-details .property-item.comments-box
  margin-bottom 1em
  pre
    font-family: proxima-nova, sans-serif;
    font-size 1.6rem
    font-weight 300
.offer-notes
  border 1px solid #ccc
  border-radius 3px
  background #fff
  margin-bottom 3em
  padding 20px
  overflow hidden
