.setup
  .setup-row
    margin-bottom 30px
    padding-bottom 30px
    border-bottom 1px solid white
  .email-template, .sms-template, .dashboard-item
    display flex
    background vs-tablegrey
    margin 0.5rem 0
    padding 0.8rem
    border-radius 3px
    .name
      flex 1
    a
      color inherit
      &:hover
        color vs-orange
  .progressions-controls
    display flex
    justify-content space-between