@import '../../variables'
.marketing
  h2
    color vs-orange
    border-bottom 1px solid #f1f1f1
    padding-bottom 20px
    cursor pointer
    transition color 0.4s ease-in-out
    &:hover
      color vs-grey
  .m-form
    &.closed
      display none
    &.open
      display block
  form
    border-bottom 2px solid vs-orange
    margin-bottom 40px
  .row
    display flex
    align-items center
    margin-bottom 30px
    padding-bottom 20px
    label
      font-size 1.2em
      font-weight bold
      margin-right 10px
    select
      width 200px
      height 37px
    .input-holder
      width 100%
      &.half
        width 50%
      &.third
        width 33%
      ul
        list-style-type none
        padding-left: 0;
        li
          display inline-block
          padding 0 10px 0 20px
          input[type=radio]
            -webkit-appearance radio
          label
            font-weight 500
      
  .controls.right
    float right
  input[type=text], input[type=email], input[type=date], textarea
    vs-input()
    height 37px
  textarea
    width 100%
    height 80px
  input[type=submit], button
    vs-button()
  input[type=submit]
    background vs-orange
    color white
  .success h2 
    color vs-grey
    font-weight 300