@import 'variables'
body
  .space-between
    display flex
    justify-content space-between
    align-items baseline
    .right
      display flex
      flex-direction column
      justify-content flex-end
      button
        margin-bottom .5rem
      .showing
        font-size .8rem
        text-align right
        margin-top .2rem
  .flex-start
    display flex
    justify-content flex-start
    align-items baseline
  .page
    min-height 100%
    box-sizing border-box
    display flex
    flex-direction column
    transition filter 0.8s
    padding-top 5rem
  .holder
    transition 0.4s
    transform translateX(0px)
    &.mobile-menu-out
      transform translateX(-180px)
  .SumoSelect
    width 100%
    > .CaptionCont
      border 1px solid vs-lightgrey
      background vs-tablegrey
      padding 10px
    > .optWrapper > .options li.opt
      background vs-lightgrey
      padding 10px
  .form-section
    display flex
    flex-wrap wrap
    margin-bottom 1rem
    align-items baseline
    p.error
      color vs-warning
      margin 0
    .form-label
      min-width 8rem
      font-weight bold
      p
        font-weight normal
    .form-controls
      display flex
      flex-wrap wrap
      flex 1
      justify-content space-between
    .third
      width calc(33.3% - 1rem)
      @media screen and (max-width: 50rem)
        width 100%
    .two-thirds
      width calc(66.6% - .5rem)
      @media screen and (max-width: 50rem)
        width 100%
    .form-item
      display flex
      width 100%
      flex-direction column
      margin-bottom .4rem
      position relative
      textarea
        min-height 6rem
      &.required:after
        position absolute
        right 0
        content '*'
        color vs-orange
      &.required.no-label:after
        position absolute
        right 0
        bottom 100%
        content '*'
table.issue-table
  margin-top 1rem
  border-collapse collapse
  border 1px solid vs-lightgray
  width 100%
  thead
    tr
      th
        padding 1rem
        background-color vs-orange
        text-align left
        color white
        font-size 1rem
        font-weight 100
        border-bottom 1px solid vs-grey
        border-right: 1px solid rgba(255,255,255,0.1);
        no-select()
  tbody:nth-child(odd)
    tr
      background vs-tablegrey
  td
    border-bottom 1px solid vs-lightgrey
    font-size .8rem
    vertical-align middle
    padding 1rem
    position relative
    svg.fa-camera-retro
      position absolute
      top 50%
      right 10px
      transform translateY(-50%)
.has-sort
  cursor pointer
.sorting
  background-size 1.6rem
  background-repeat no-repeat
  background-position center right
@media screen and (max-width:992px)
  h1 
    font-size 1.4rem
  .search
    input
      width 230px
      margin-bottom 15px
  table, thead, tbody, th, td, tr
    display block
  thead
    margin-bottom 30px
    tr
      border-bottom none 
      th
        padding 10px
  th 
    width 94%
  tr 
    border-bottom 3px solid vs-orange 
  td
    position relative
    padding-left 50%
    &:before
      padding-right 30px
      white-space nowrap
      font-weight 700
    svg.fa-camera-retro
      top 20% !important
      right 0px !important
  body .space-between
    display block
    .left
      margin-bottom 20px