
<div class="forgot-dir">
  <h1>forgot password {{token}}</h1>
  <form name="emailForm" ng-submit="submitEmail()" ng-hide="token">
    <label>Email address</label>
    <input type="email" ng-model="email"/>
    <label class="error">{{error}}</label>
    <div class="controls">
      <input type="submit" value="OK"/>
    </div>
  </form>
  <form name="passForm" ng-submit="submitPass()" ng-show="token">
    <label>Choose a password</label>
    <input type="password" ng-model="password"/>
    <label>Repeat password</label>
    <input type="password" ng-model="repeatPassword"/>
    <div class="controls">
      <input type="submit" value="OK"/>
    </div>
  </form>
</div>