.breadcrumbs
  margin-top 80px
  display flex
  flex-wrap wrap
  padding 0.5em 0
  width 100%
  border-bottom 1px solid #e0e0e0
  .breadcrumb
    display inline-flex
    flex-direction column
    margin 0 0.5em 0 0
    color #303030
    font-size: 1.8rem
    font-weight 300
    .breadcrumb-site
      color white
      background #f15b25
      font-size .6em
      text-transform uppercase
      padding 2px 5px
      border-radius 2px
      align-self flex-start