.breadcrumbs
  margin-top 78px
  display flex
  flex-wrap wrap
  padding 0.5em 0
  width 100%
  border-bottom 1px solid #e0e0e0
  background: vs-white
  .breadcrumb
    display inline-flex
    flex-direction column
    padding 0 1em 0 0
    margin 0 0.5em 0 0
    color vs-grey
    font-size: 1.8rem
    font-weight 300
    position relative
    .breadcrumb-site
      color white
      background vs-orange
      font-size .6em
      line-height: 1.4;
      padding 2px 5px
      border-radius 2px
      align-self flex-start
    &:after
      content ''
      background url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fat' data-icon='chevron-right' class='svg-inline--fa fa-chevron-right' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23535050' d='M66.07 477.3c-1.376-1.531-2.048-3.438-2.048-5.344c0-2.188 .891-4.375 2.642-5.938L300.2 256L66.66 45.93c-3.283-2.906-3.58-8-.594-11.28c2.97-3.281 8.019-3.563 11.32-.5938l240.1 216c3.345 3 3.345 8.875 0 11.88L77.38 477.9C74.08 480.9 69.04 480.6 66.07 477.3z'%3E%3C/path%3E%3C/svg%3E") center / cover no-repeat
      display block
      width 12px
      height 12px
      position absolute
      top 50%
      right 0px
      margin-top -12px
    &:last-of-type:after
      display none