
<div class="issues-route route"> 
  <div class="container-xl">
    <div class="row align-items-center">
      <div class="col-sm-8">
        <h1>{{ mml('issues-heading') }}</h1>
        <button ui-sref="maintenance_leads_issue({_id:&quot;&quot;})" class="button button-green"><i class="fas fa-plus"> </i>{{ mml('issues-button-new') }}</button>
      </div>
      <div class="col-sm-4 search">
        <input type="text" ng-model="mysearch.$like" placeholder="Search Issues" ng-change="page=1"/>
      </div>
    </div>

    <div class="controls">
      <div class="row">
        <div class="col-sm-10"></div>
        <div class="col-sm-2 text-end">
          <div class="showing">Showing:<br>{{issues.items.length}} of {{issues.total}} issue{{issues.total!==1?'s':''}}</div>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table ng-show="issues.items.length &gt; 0" class="issue-table table">
        <thead>
          <tr>
            <th width="10%" ng-click="sort.set(&quot;source&quot;)" ng-class="sort.class(&quot;source&quot;)">{{ mml('issues-heading-source') }}</th>
            <th width="25%" ng-click="sort.set(&quot;date&quot;)" ng-class="sort.class(&quot;date&quot;)">{{ mml('issues-heading-date') }}</th>
            <th width="30%" ng-click="sort.set(&quot;address&quot;)" ng-class="sort.class(&quot;address&quot;)">{{ mml('issues-heading-address') }}</th>
            <th width="25%" ng-click="sort.set(&quot;tenant&quot;)" ng-class="sort.class(&quot;tenant&quot;)">{{ mml('issues-heading-tenant') }}</th>
            <th width="10%">{{ mml('issues-heading-options') }}</th>
          </tr>
        </thead>
        <tbody ng-repeat="issue in issues.items">
          <tr>
            <td class="source">
              <div class="source-icon {{issue.source}}">{{ issue.source }}</div>
            </td>
            <td class="date">{{ issue.date | date:medium }}</td>
            <td class="address">{{ issue.address }}<span ng-show="issue.media.length"><i class="fad fa-camera-retro"></i></span></td>
            <td class="tenant">{{ issue.tenant }}</td>
            <td class="options">
              <button ui-sref="maintenance_leads_issue({_id:issue._id})" class="button"> <i class="fal fa-eye"></i>View</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div ng-show="!issues.items.length" class="empty-table">{{ mml('issues-empty-table') }}</div>
    <pagination ng-model="issues.args.page" total="issues.total" page-size="issues.args.pageSize"></pagination>
    
    <hr class="white">
  </div>
</div>