
<div class="setup route">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-8">
        <h1>Setup</h1>
      </div>
      <div class="col-sm-4 text-end">
        <button ng-click="updateStatuses()" class="button update-statuses">Update statuses</button>
      </div>
    </div>

    <div class="row setup-row">
      <div class="col-sm-6 email-templates">
        <h2>Email templates</h2>
        <div ng-repeat="template in emailTemplates.items" class="email-template"><a ui-sref="maintenance_leads_template({id:template._id,type:'email'})" class="name">{{template.name}}</a>
          <div class="delete"><a href="" ng-click="emailTemplates.delete(template)"><i aria-hidden="true" class="far fa-times-circle"></i></a></div>
        </div>
        <div><a ui-sref="maintenance_leads_template({id:'new',type:'email'})" class="add-email-template button"> <i class="fas fa-plus"> </i>Add email template</a></div>
      </div>
      <div class="col-sm-6 sms-templates">
        <h2>Sms templates</h2>
        <div ng-repeat="template in smsTemplates.items" class="sms-template"><a ui-sref="maintenance_leads_template({id:template._id,type:'sms'})" class="name">{{template.name}}</a>
          <div class="delete"><a href="" ng-click="smsTemplates.delete(template)"><i aria-hidden="true" class="far fa-times-circle"></i></a></div>
        </div>
        <div><a ui-sref="maintenance_leads_template({id:'new',type:'sms'})" class="add-sms-template button"> <i class="fas fa-plus"> </i>Add sms template</a></div>
      </div>
    </div>
  </div>
</div>