.login-dir
  height 100%
  .vs-app-bg 
    object-fit cover
    width 100%
    height 100%
    position absolute
    top 0px
    left: 0px
.vs-login-logo
  display block
  margin 60px auto 30px
.login-form
  padding 30px
  background rgba(220,220,220,0.1)
  border-radius 3px
  position relative
  h2 
    margin-bottom 10px
  input[type=email], input[type=password]
    background: white
  .forgot-pass a
    display block
    color #f15b25
    font-size 1.4rem
    margin-top 20px