<div class="login-dir" ng-hide="auth.loggedIn() || auth.loading()">
  <img class="vs-app-bg" src="/public/img/vs-apps-bg.jpg" alt="">
  <div class="container-xl">
    <img class="vs-login-logo" src="/public/img/vitalspace-logo.svg" alt="" width="250">
    <div class="login-holder row justify-content-center">
      <div class="login-form col-md-4 col-sm-6">
        <h2>Log in</h2>
        <form name="loginForm" novalidate="novalidate" ng-submit="login()" ignore="true">
          <div class="email-field">
            <input type="email" name="email" required="required" ng-model="email" placeholder="Email address"/><span class="error" ng-show="submitted &amp;&amp; loginForm.email.$error.email">Please use a valid email address</span><span class="error" ng-show="submitted &amp;&amp; loginForm.email.$error.required">Please use a valid email address</span>
          </div>
          <div class="password-field">
            <input type="password" name="password" required="required" ng-model="password" placeholder="Password"/><small class="error" ng-show="submitted &amp;&amp; loginForm.password.$error.required">A password is required</small>
          </div>
          <div class="controls">
            <div class="login-error">{{message}}</div>
            <input class="button" type="submit" value="Login"/>
          </div>
          <div class="forgot-pass"><a ui-sref="forgot">Forgot your password?</a></div>
        </form>
      </div>
    </div>
  </div>
</div>