body
  .reveal-modal-bg, 
  .reveal-modal-bg.fade
    &.in
      background rgba(0,0,0,0.3)
      opacity 1
  .reveal-modal
    &.large
      max-width 900px
    &.fade
      overflow hidden
      box-shadow 4px 4px 4px 0 rgba(0,0,0,.05)
      border none
      border-radius 3px
      padding 20px
      h1
        color vs-orange
        margin: 5px 0px
      &.in
        opacity 1
        .modal 
          background white
          display flex
          flex-direction column
          height auto  
          position relative
      .modal-header
        background vs-grey
        flex-direction column
        padding 10px 40px
        h1
          color white
      .close-reveal-modal
        color vs-orange
