@import 'variables'
ul.nav-pills
  margin 0 0 30px 0px
  .nav-item
    button 
      background white
      border 1px solid $vs-lightgrey
      &.active
        background vs-orange
        &:hover
          color white
          background vs-grey
      &:hover
        background vs-orange
      &:focus
        color inherit
