
<div class="contact-details col-sm-6">
  <h4>{{title}}</h4>
  <div class="card"><a class="edit-btn" href="" ng-click="edit()" ng-hide="editing"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
    <div ng-show="data().name || editing">
      <div class="role"><i class="fa fa-university" aria-hidden="true" ng-show="data().role"></i><span ng-hide="editing">{{data().role}}</span>
        <input type="text" ng-model="data().role" ng-show="editing" placeholder="Role"/>
      </div>
      <div class="name"><span ng-hide="editing">{{data().name}}</span>
        <input type="text" ng-model="data().name" ng-show="editing" placeholder="Name"/>
      </div>
      <div class="communication">
        <div class="telephone" ng-show="data().telephone || editing"><span ng-hide="editing">{{data().telephone}}</span>
          <input type="text" ng-model="data().telephone" ng-show="editing" placeholder="Telephone"/>
        </div>
        <div class="email" ng-show="data().email || editing"><span ng-hide="editing"> <a class="mail-link" href="mailto:{{data().email}}">{{data().email}}</a></span>
          <input type="email" ng-model="data().email" ng-show="editing" placeholder="Email"/>
        </div>
      </div>
      <div class="controls" ng-show="editing">
        <button ng-click="confirm()">OK</button>
      </div>
    </div>
    <div ng-hide="data().name || editing">
      <div class="role">No details set</div>
    </div>
  </div>
</div>