<html>
<head>
  <base href="/">
  <link rel="stylesheet" href="https://use.typekit.net/dwe5aet.css">
  <script src="https://kit.fontawesome.com/5e602790eb.js" crossorigin="anonymous"></script>
</head>
<body ng-app="vs-app" ng-click="bodyTap($event)">
  <menu ng-if="auth.getUser() || state('invited') || state('forgot') || state('forgot-response')"></menu>
  <breadcrumbs ng-if="auth.getUser()"></breadcrumbs>
  <login></login>
  <div ui-view="" ng-if="auth.getUser() || state('invited') || state('forgot') || state('forgot-response')" class="main-view"></div>
  <footer ng-if="auth.getUser()"></footer>
  <agency-progression-popup></agency-progression-popup>
  <maintenance-date-swiper config="{prefix:&quot;swiper&quot;, modifier:1.5, show:false}"></maintenance-date-swiper>
  <maintenance-task-popup></maintenance-task-popup>
  <date-swiper config="{prefix:&quot;swiper&quot;, modifier:1.5, show:false}"></date-swiper>
  <script type="text/javascript" src="public/third-party/marked.js"></script>
  <script type="text/javascript" src="public/third-party/third-party.js?7"></script>
</body>
</html>