<div class="users">
  <div class="container-xl" ng-if="(myusers.items | filter: {'displayName': '!'}).length > 0">
    <div class="table-heading">
      <h3 class="orange">Pending Users</h3>
    </div>
    <div class="table-responsive">
      <div class="table_users_new">
        <!-- Header Row -->
        <div class="users-row heading">
          <div class="users-cell expandable"></div>
          <div class="users-cell even-cell" ng-repeat="site in sites">{{site.name}}</div>
          <div class="users-cell collapsible"></div>
        </div>

        <!-- User Rows -->
        <div class="users-row" ng-repeat="user in myusers.items | filter:{'displayName':'!'} | orderBy:'displayName'">
          <!-- User Information -->
          <div class="users-cell expandable">
            <img gravatar-src="user.local.email" gravatar-size="48" class="user-avatar" />
            <div>
              <div class="display-name">{{user.displayName}}</div>
              <div class="user-email">{{user.local.email}}</div>
              <div class="password-reset-badge" ng-if="user.code">Awaiting reset</div>
            </div>
          </div>

          <!-- Role Cells -->
          <div
            class="users-cell even-cell"
            ng-repeat="site in sites track by site.id"
            ng-click="swapRole(user, site.id)"
            title="{{site.name}} - {{user.local.sites[site.id].role}}"
            ng-style="{'background-color': roleData[user.local.sites[site.id].role].color + '50'}"
          >
            <i ng-class="getIconClass(user.local.sites[site.id].role, user)"></i>
          </div>

          <!-- Actions -->
          <div class="users-cell collapsible actions">
            <a class="reset-btn" href="" ng-click="resetUser(user)">
              <i class="fa fa-rotate-right"></i>&nbsp; Reset
            </a>
            <a class="delete-btn" href="" ng-click="deleteUser(user)">
              <i class="fa fa-trash"></i>&nbsp; Delete
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-xl" ng-if="(myusers.items | filter: {'displayName': ''}).length > 0">
    <div class="table-heading">
      <h3 class="orange">Users</h3>
      <button class="btn-add-user" ng-click="addEditUser()">Add New User</button>
    </div>
    <div class="table-responsive">
      <div class="table_users_new">
        <!-- Header Row -->
        <div class="users-row heading">
          <div class="users-cell expandable"></div>
          <div class="users-cell even-cell" ng-repeat="site in sites">{{site.name}}</div>
          <div class="users-cell collapsible"></div>
        </div>

        <!-- User Rows -->
        <div class="users-row" ng-repeat="user in myusers.items | filter:{'displayName':''} | orderBy:'displayName'">
          <!-- User Information -->
          <div class="users-cell expandable">
            <img gravatar-src="user.local.email" gravatar-size="48" class="user-avatar" />
            <div>
              <div class="display-name">{{user.displayName}}</div>
              <div class="user-email">{{user.local.email}}</div>
              <!--<div class="save-user-roles"><button ng-click="saveUserRoles(user)">Save roles</button></div>-->
              <div class="password-reset-badge" ng-if="user.code">Awaiting reset</div>
            </div>
          </div>

          <!-- Role Cells -->
          <div
            class="users-cell even-cell"
            ng-repeat="site in sites track by site.id"
            ng-click="swapRole(user, site.id)"
            title="{{site.name}} - {{user.local.sites[site.id].role}}"
            ng-style="{'background-color': roleData[user.local.sites[site.id].role].color + '50'}"
          >
            <i ng-class="getIconClass(user.local.sites[site.id].role, user)"></i>
          </div>

          <!-- Actions -->
          <div class="users-cell collapsible actions">
            <a class="reset-btn" href="" ng-click="resetUser(user)">
              <i class="fa fa-rotate-right"></i>&nbsp; Reset
            </a>
            <a class="delete-btn" href="" ng-click="deleteUser(user)">
              <i class="fa fa-trash"></i>&nbsp; Delete
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
