<div class="users">
  <div class="container-xl">

    <div class="table_heading">
      <h3 class="orange">Users</h3>
      <input type="button" ng-click="addEditUser()" value="Add new user" />
    </div>
    <div class="table-responsive">
      <table class="table_users">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Sites</th>
            <th>Reset</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody ng-repeat="user in myusers.items | orderBy:'name'">
          <tr>
            <td class="td_icon"><img gravatar-src="user.local.email" /></td>
            <td class="td_name">{{user.displayName || user.local.email}}</td>
            <td class="td_email">{{user.local.email}}</td>
            <td class="td_status">{{user.code ? 'Awaiting password reset' : 'Active'}}</td>
            <td class="td_sites"><a href="" ng-click="addEditUser(user)"><span ng-repeat="site in user.siteRoles"><i class="fa-light {{site.icon}}"></i>{{site.name}}</span></a></td>
            <td><a href="" ng-click="resetUser(user)">Reset</a></td>
            <td class="td_delete"><a href="" ng-click="deleteUser(user)">Delete</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table_heading" ng-hide="!pendingUsers.length">
      <h3 class="orange">Pending Users</h3>
    </div>
    <div class="table-responsive" ng-hide="!pendingUsers.length">
      <table class="table_users">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th>Sites</th>
            <th>Invite</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody ng-repeat="user in pendingUsers">
          <tr>
            <td class="td_icon"><img gravatar-src="user.local.email" /></td>
            <td class="td_name">{{user.displayName || user.local.email}}</td>
            <td class="td_email">{{user.local.email}}</td>
            <td class="td_sites">
              
              <span ng-repeat="site in user.siteRoles"><i class="fa-light {{site.icon}}"></i>{{site.name}}</span>
            </td>
            <td><a href="" ng-click="inviteExistingUser(user)">Invite</a></td>
            <td class="td_delete"><a href="" ng-click="deleteUser(user)">Delete</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>