
<div class="profile-page">
  <h1>Profile</h1>
  <form name="myForm" ng-submit="myForm.$valid &amp;&amp; profile.save()">
    <div class="form-item">
      <label>Display name</label>
      <input type="text" ng-model="profile.item.displayName"/>
    </div>
    <div class="form-item">
      <label>Telephone number</label>
      <input type="text" ng-model="profile.item.telephone"/>
    </div>
    <div class="form-item">
      <label>Email address</label>
      <input type="email" ng-model="profile.item.local.email"/>
    </div>
    <div class="controls">
      <input type="submit" value=" Save "/>
    </div>
  </form>
</div>